.sidebar {
	background-color: lightblue;
}

.panelbg {
	background-color: lightgrey;
}

html, body {
	height: 100%;
}

.white-bg {
	background-color: white;
}

.column-padding td {
	padding:0 30px 0 30px;
}

table {
	table-layout: fixed;
}

/* faculty table column widths*/
.col-facultyOnyen {
	width: 15%;
}

.col-facultyCSID {
	width: 10%;
}

.col-facultyFirstname {
	width: 15%;
}

.col-facultyLastname {
	width: 15%;
}

.col-facultyPid {
	width: 15%;
}

.col-facultySectionNumber{
	width: 10%;
}

.col-facultyActive {
	width: 10%;
}

.col-delete {
	width: 10%;
}

.col-jobPosition{
	width:10%;
}

/*course table column widths */

.col-course-topic {
	width:10%;
}

.col-course-number {
	width:7.5%;
}

.col-course-univNumber{
	width:10%;
}

.col-course-name {
	width:20%;
}

.col-course-category {
	width:10%;
}

.col-course-hours {
	width:5%;
}

.col-course-section{
	width:7.5%;
}

.col-course-faculty {
	width:10%;
}

.col-course-semester {
	width:10%;
}

.col-course-delete {
	width:10%;
}

.editTag:hover {
	text-decoration: none;
	color: green;
}

.editTag {
	color: green;
}

.space {
	margin:10px;
}

.verticalSpace {
	margin-top:10px;
	margin-bottom:10px;
}

.fabutton {
	background: none;
	padding:0px;
	border:none;
}

.colJobModify {
	width:10%;
}

.whiteBg {
	background: white;
}

.editRow{
	display:flex;
	flex-direction: row;
	justify-content:center;
}

.editColumn{
	margin:5px;
	display: flex;
	flex-direction: column;
}

.editColor {
	color: black;
}

label.autoHyphen {
	hyphens: auto;
}

div.container-fluid > div > div.col-lg-10 {
	overflow-y : scroll;
}

/*
This is for highlighting search text on index pages
*/
.searchTextColor {
	color:#73a073;
}

.underline {
	text-decoration: underline;
}

.slider{
	background-image:url("../../images/slider.png");
} 

#departmentInput{
	font-size:10px;
	height:38px;
}

.Loginpage {
	text-align: center;
  }
  
  .Loginpage-logo {
	height: 40vmin;
  }
  
  .Loginpage-header {
	background-color: #7BAFD4;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .Loginpage-body {
	background-color: white;
	background-image: url("./assets/old_well_yeungb.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	filter: blur(2px);
	display: flex;
  }
  
  .Loginpage-link {
	color: #7BAFD4;
	font-size: 12px;
	display: 5px;
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 13%;
	text-align: Left;
  }
  
  .login-form {
	display: 5px;
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 40%;
	text-align: center;
  }
  
  .Loginpage-headerone {
	font-weight: bold;
	color: #7BAFD4;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	font-weight: bold;
	border: 3px solid #7BAFD4;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 12%;
	padding: 10px;
	text-align: left;
  }
  
  .allpieces {
	font-weight: bold;
  }
  
  .Loginpage-button {
	background-color: #7BAFD4;
	text-align: center;
	border: none;
	color: white;
	padding: 15px 32px;
	display: inline-block;
	font-size: 16px;
	border-radius: 5%;
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 13%;
	text-align: center;
  }
